ELK=7.17.16
ELASTIC_PASSWORD=changeme
KIBANA_PASSWORD=kibana_changeme
MYSQL_ROOT_PASSWORD=mysql_password
HOSTNAME=s1em_hostname
CERTS_DIR=/usr/share/elasticsearch/config/certificates
COMPOSE_HTTP_TIMEOUT=180
COMPOSE_PARALLEL_LIMIT=50
ADMINISTRATION_IP=administrationip
ZIRCOLITE_USER=zircolite_account
ZIRCOLITE_PASSWORD=zircolite_password
VELOX_SERVER_URL=https:://s1em_hostname:8000/
